body {
  background-color: #2b2b2b;
  color: rgb(38, 219, 222);
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#return-field {
  border: 2px solid #3b3b3b;
  color: rgb(38, 219, 222);
}
#spaceDiv {
  justify-content: center;
  align-items: center;
  flex: auto;
}

.container {
  background-color: #151515;
  border-radius: 10px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .quote {
  text-align: center;
  width: 50%;
} */